<div class="nav-container">
   <div class="logos">
      <div class="mainLogo">
         <img src="anisavelogo.jpg" />
      </div>
      <div class="image">
         <img src="asta.jpeg" alt="" width="100" loading="lazy">
      </div>
    <div class="image">
       <img src="genos.jpeg" alt=""  width="100" loading="lazy">
      </div>
    <div class="image">
       <img src="saitama.jpeg" alt=""  width="100" loading="lazy">
      </div>
    <div class="image">
       <img src="sukuna.jpeg" alt=""  width="100" loading="lazy">
      </div>
    <div class="image">
       <img src="tanjiro.png" alt=""  width="100" loading="lazy">
      </div>
   </div>
   <div class="login">
      login
   </div>
   <div class="left">
      <p>View Collection</p>
     <img src="save.png" alt="" width="50" loading="lazy">
   </div>
</div>