<div class="wrapper">
    <div class="logo">
        <img src="anisavelogo.jpg" alt="">
    </div>
    <div>
        <div class="content">   
        <h1 class="h1">Your one stop anime finder tool.</h1>
        <p>Save and preview some of the best animes out there.</p>
        <h3>Cruise and let us help you pick your next show.</h3>         
    </div>
    <div class="characters">
        <div class="top">
            <img ngSrc="narutonb.png" alt="" height="100" width="100" class="imgone">
            <img src="saitamanb.png" alt="" width="100" class="imgtwo">
        </div>
        <div 
        class="venture" 
        routerLink="/home">
            Venture
            <i class="fa fa-chevron-right"></i>
        </div>
       
        <div class="bottom">
            <img src="luffynb.png" alt="" width="100" class="imgthree">
            <img src="gokunb.png" alt="" width="100" class="imgfour">
        </div>
    </div>
    </div>
</div>