<div class="container">
    <button routerLink="/home" class="back">back</button>
    <h1 class="h1">Login</h1>
 <div class="wrapper">
    <div class="field-div">
        <label for="">Username </label>
        <input type="text" >
    </div>
    <div class="field-div">
        <label for="">Password </label>
        <input type="text" >
    </div>
    <button class="submit-btn" type="submit">Submit</button>
    <p class="redirect">Don't have an account? <a class="link" [routerLink]="'/register'">Register</a></p>
</div>
</div>