.container{
    padding-bottom: 20px;
}
.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    flex-direction: column;
    padding-bottom: 30px;
}
.wrapper h2{
    border-bottom: 2px solid black;
}
.loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center; 
}
.back{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background: #37d4b7;
    font-size: 17px;
}
.wrapper .section{
    display: flex;
    align-items: start;
    width: 100%;
   margin: 0 50px;
    justify-content: center;
}
.wrapper .section .left{
    width: 50%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper  .section .left img{
    width: 400px;
    /* max-width: 600px; */
}
.wrapper .section .right{
    width: 50%;
    margin: 0 10%;
}
.wrapper .section .right .characters-container {
    /* width: 100%; */
    
 /* background: #ff0f5b; */
   
}
.wrapper .section .right .characters-container ul{

    list-style: none;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    margin-right: 50px;
    flex-wrap: wrap;
   padding-inline-start: 0;
 
}
.wrapper .section .right .characters-container ul li{
    width: 120px;
  
}
.wrapper .section .right .characters-container ul li img{
    width: 100%;
}
.wrapper .section .right .characters-container ul li p{
    font-weight: 700;
    color: #222;
}
.wrapper .section .right h1{
    font-size: 20px;
    color: #222;
}
.wrapper .section .right .add-character{
    width: 80%;
    padding: 10px 10px;
    border: none;
    color: #37d4b7;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    transition: all .2s ease-in-out;

}
.wrapper .section .right .add-character:hover{
    background: #37d4b7;
    color: #222;
    cursor: pointer;
}
.info .description{
    font-size: 15px;
}
.info .save{
    cursor: pointer;
    border: 2px solid #ff0f5b;
    background:#ffbad0;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ff0f5b;
}
.info .save:hover{
    border: 2px solid #ffbad0; 
    box-shadow: 0 10px 15px 0px #ffbad0;
}
.add-character-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    /* margin-top: 50%;
    margin-left: 50%; */
    background: rgba(0, 0, 0, 0.6);
    
}
.add-character-container .fa-times{
    float: right;
    margin-right: 20%;
    margin-top: 20%;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
 
}
.add-character-container .fa-times:hover{
    cursor: pointer;
}
.add-character-container .add-wrapper{
    background-color: #fff;
    width: 400px;
    height: 500px;
    margin-top: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    border-radius: 20px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;

}
.add-character-container .add-wrapper h1{
    text-transform: capitalize;
}
.add-character-container .add-wrapper .form form .input-box{
    display: flex;
    flex-direction: column;
    box-shadow:  2px 5px 10px rgba(0, 0, 0, 0.1),
    15px 10px 15px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    padding: 5px 8px;
}
.add-character-container .add-wrapper .form form .input-box label{
    color: #444;
    font-weight: 700;
}
.add-character-container .add-wrapper .form form .input-box input{
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
}
.add-character-container .add-wrapper .form form .input-box:before{
    content: '';
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    height: 5%;
    width: 65%;
    border-radius: 5px;
}
.add-character-container .add-wrapper .form form .image-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.add-character-container .add-wrapper .form form .image-box input{
    margin: 8px;
}
.add-character-container .add-wrapper .form form .image-box .image{
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  2px 5px 10px rgba(0, 0, 0, 0.1),
    15px 10px 15px rgba(0, 0, 0, 0.025);
    border-radius: 25px;
    object-fit: contain;
    overflow: hidden;
}
.add-character-container .add-wrapper .form form .image-box .image img{
    width: 100%;
}
.add-character-container .add-wrapper .form form .submit{
    border: none;
    padding: 10px 5px;
    position: relative;
    background: #ff0f5b;
    cursor: pointer;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.2),
    15px 15px 10px rgba(0, 0, 0, 0.05),
    15px 10px 15px rgba(0, 0, 0, 0.025);
    color: #fff;
    text-transform: uppercase;

    border-radius: 25px;
}
.add-character-container .add-wrapper .form form .submit::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: 5%;
    width: 65%;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
}
@media (max-width:800px){
    .wrapper .section{
       flex-direction: column;
       align-items: center;
    }
    .wrapper .section .left{
        width: 80%;
    }
    .wrapper  .section .left img{
        width: 250px;
    }
    .wrapper .section .right{
        width: 80%;
    }
}